name: Django Test

on:
  push:
    branches: [ "master" , "backend" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python version
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      
      - name: Install Requirements
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Create env file with Secret Key
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}

        run: |
          touch ./backend/.env
          cat ${{SECRET_KEY}}
          echo SECRET_KEY = ${{SECRET_KEY}} >> ./backend/.env
          cat ./backend/.env
          
      - name: Run tests
        run: |
          cd backend && make test
    
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code 
        uses: actions/checkout@v2
      
      - name: Run PEP8
        uses: quentinguidee/pep8-action@v1
        with:
          arguments: ' --exclude=test_post /backend/tests
            --exclude=* ./backend/blog/migrations
            --max-line-length=120'
